@media screen and (max-width: 1513px) {
  .banner__data {
    background: rgba(3, 78, 110, 0.5);
    z-index: 10;
  }
}

@media screen and (max-width: 1433px) {
  .ratings__img img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 1323px) {
  .hero__background img {
    object-position: 0%;
  }

  .hero__data {
    right: 10%;
    top: 0;
    max-width: 400px;
    background: rgba(3, 78, 110, 0.5);
  }

  .sidebar__left {
    display: none;
  }

  .page-nav {
    display: block;
  }
}

@media screen and (max-width: 1152px) {
  .ratings__img img {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 1128px) {
  .hero__data {
    top: 0;
    right: 5%;
  }
}

@media screen and (max-width: 1128px) {
  .header__menu {
    display: none;
  }

  .header__btn-menu.active {
    background: #054146;
  }

  .header__btn-menu svg {
    display: block;
    margin: 0;
  }

  .header__btn-menu svg rect {
    transform-origin: 50% 50%;
    transition: all 0.5s;
  }

  .header__btn-menu.active svg rect:nth-child(1) {
    x: -2px;
    y: 6px;
    width: 20px;
    transform: rotate(225deg);
  }

  .header__btn-menu.active svg rect:nth-child(3) {
    opacity: 0;
  }

  .header__btn-menu.active svg rect:nth-child(2) {
    x: -2px;
    y: 6px;
    width: 20px;
    transform: rotate(135deg);
  }

  .header__menu {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #054146;
    text-align: center;
    z-index: 100;
    transition: height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    padding: 50px;
  }

  .header__menu.active {
    display: block;
    height: 100vh;
    opacity: 1;
  }

  .header {
    z-index: 101;
  }

  .header__menu ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    margin-bottom: 20px;
  }

  .header__menu ul li {
    font-size: 28px;
  }

  .header__menu-list li + li {
    margin-left: 0;
  }
  .header__menu ul li + li {
    margin-bottom: 15px;
  }

  .menu ul li:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1088px) {
  .header__btn-menu {
    display: block;
  }

  table td:first-child {
    width: 60%;
  }

  table td:last-child {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar__right {
    display: none;
  }

  .ratings__img img {
    width: 25px;
    height: 25px;
  }

  .main .main__arrow {
    right: 5px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #102a2e;
  }

  .main__wrapper {
    padding: 15px;
  }

  .footer__data-copyright {
    width: 40%;
  }

  .footer__mobile {
    padding: 13px;
  }

  .footer__support img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 922px) {
  .footer__mobile {
    padding: 20px;
  }
}

@media screen and (max-width: 919px) {
  .footer__age {
    display: none;
  }

  .footer__network {
    border-right: 0;
  }
}

@media screen and (max-width: 849px) {
  .footer__support {
    padding: 0 15px;
  }

  .footer__data-copyright {
    padding: 10px 15px;
  }

  .footer__support div {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
  }

  .footer__support a {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 854px) {
  .header__button-registr {
    display: none;
  }

  .header__btn {
    display: inline-block;
    /* margin: 0;
    margin-top: 20px;
    white-space: wrap; */
  }

  .header__btn a {
    display: block;
    min-width: 200px;

    margin: 0;
    margin-top: 20px;
    white-space: wrap;
  }

  .logo {
    margin-right: 0;
  }

  .hero__background img {
    object-position: 5%;
  }

  table {
    display: block;
  }

  .about__group {
    width: 100%;
    margin-bottom: 20px;
  }

  .about__group + .about__group {
    margin-left: 0;
  }

  .banner__data {
    max-width: 100%;
  }

  .banner__wrapper {
    justify-content: space-around;
  }
}

@media screen and (max-width: 854px) {
  .features__list {
    display: block;
    width: 100%;
  }

  .features__info {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .hero__data {
    max-width: 100%;
    top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 709px) {
  .ratings__list {
    display: block;
    margin-bottom: 0;
  }
  .ratings__list li {
    width: 100%;
  }

  .ratings__img img {
    width: 30px;
    height: 30px;
  }

  .ratings__list li:not(:last-child) {
    margin-bottom: 8px;
  }

  .ratings__button {
    display: block;
  }

  .hero__data {
    max-width: 90%;
  }

  .hero__title {
    font-size: 24px;
    line-height: 22px;
  }

  .content .about__title,
  .content .features__title,
  .content .article__title,
  .content .ratings__title,
  .content .faq__title {
    font-size: 20px;
    line-height: 22px;
  }

  .features__subtitle {
    font-size: 16px;
  }

  .footer__support img {
    margin-right: 15px;
  }

  .footer__support a {
    font-size: 12px;
  }
}

@media screen and (max-width: 605px) {
  .footer__mobile {
    display: none;
  }

  .footer__box {
    flex-direction: column;
  }

  .footer__age {
    display: block;
    border-top: 8px solid #102a2e;
    border-bottom: 0;
    padding: 10px;
  }
  .footer__network {
    border-bottom: 0;
  }
}

@media screen and (max-width: 567px) {
  .header__button-login {
    display: none;
  }

  .hero__data {
    top: 15px;
    right: 35%;
  }

  .about,
  .article,
  .features,
  .banner,
  .article,
  .ratings,
  .faq,
  .header__content {
    padding: 10px;
  }
  .hero__data {
    right: 5%;
    top: 15px;
  }

  .hero__background img {
    object-position: 15%;
  }

  .hero__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    min-width: 200px;
    padding: 10px 20px;
  }

  .footer__support {
    flex-direction: column;
  }

  .footer__support img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 530px) {
  .footer__network {
    display: none;
  }

  .footer__age {
    border-top: 0;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 490px) {
  .banner {
    display: none;
  }

  body {
    font-size: 14px;
    line-height: 20px;
  }

  .hero__background img {
    object-position: 40%;
    width: 100%;
    max-width: 100%;
  }

  .main__wrapper {
    padding: 10px;
  }

  .main .main__arrow {
    right: 3px;
  }

  .hero__background {
    max-width: 480px;
  }

  .footer__menu {
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer__menu li {
    flex: 1 1 calc(50% - 10px);
    text-align: center;
  }
}

@media screen and (max-width: 473px) {
  .footer__age {
    display: none;
  }
  .footer__boxes {
    border-left: 0;
  }
  .footer__data-copyright {
    width: 60%;
  }
}

@media screen and (max-width: 466px) {
  .header__btn-list {
    display: none;
  }

  .logo {
    margin-right: auto;
  }
}

@media screen and (max-width: 466px) {
  .faq__subtitle::after {
    right: 2px;
  }
}
